// Custom styles.

//.header {
//	background: url(/images/header1.jpg);
//    background-attachment: fixed;
//}

body {
	background: url(/images/bg1.jpg);
    background-attachment: fixed;
	background-repeat:no-repeat;
	background-size: cover;
}

.main-inner {
	padding: 10px 50px;
	background-color: white;
	opacity: 0.98;
}